{% extends "base.html" %} {% block title %}
<title>Home</title>
{% endblock title %} {% block content %}

<div class="d-flex flex-wrap text-center justify-content-center p-3 fw-bold">
  {% for i in data %}
  <div class="card col-md-3 col-sm-12 m-1">
    <div class="card-body">
      <h5 class="card-title">Task id : {{ forloop.counter }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        Assigned date : {{i.Assign_date}}
      </h6>
      <p class="card-text">{{i.taskDes}}</p>
      <p>Category : {% for j in i.category.all %}
        <button class="btn btn-primary btn-sm" disabled>{{j.name}}</button>
      {% endfor %}</p>

      {% if i.is_complete %}
        <h3 class="bg-success w-50 m-auto rounded-pill">Completed</h3>
      {% else %}
        <a href="{% url 'edit' i.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
